<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UrbanAirSharp.uaAppKey" value="your app key"/>
    <add key="UrbanAirSharp.uaAppMAsterSecret" value="your app secret"/>

    <!-- incase you need to force all requests through a traffic inspector -->
    <add key="UrbanAirSharp.host" value="http://localhost:8888/"/>
  </appSettings>
</configuration>